* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background_principal {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../asset/background_inicio.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../asset/background_inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .logo {
  max-width: 450px;
  height: 40vh;
}

.info_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem 3rem 3rem;
}
.info_principal h1 {
  text-align: center;
  font-size: 3rem;
  color: #17a2b8;
  padding: 0 3rem 3rem 3rem;
  font-family: poppins;
  font-style: italic;
}
.info_principal .box-shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 36px 7px 65px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 36px 7px 65px 0px rgba(0, 0, 0, 0.47);
  padding: 3rem;
}
.info_principal .box-shadow p {
  text-align: center;
  font-family: lato;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem 3rem 3rem 3rem;
  color: white;
}
.info_principal .box-shadow h2 {
  font-family: roboto;
  text-align: center;
  color: #f1c40f;
  padding-bottom: 1.5rem;
}
.info_principal .box-shadow a {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #17a2b8;
  text-decoration: none;
  color: #000000;
  width: 30%;
  text-align: center;
}
.info_principal .box-shadow a:hover {
  background-color: rgba(23, 163, 184, 0.2470588235);
}

.header_simulador {
  background: black;
  -webkit-box-shadow: 0 0 5px 0;
          box-shadow: 0 0 5px 0;
  border-bottom: solid 1px #bdc3c7;
}

.about-us {
  padding: 3rem;
}

.flex_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_info .img_principal {
  max-width: 90vw;
  height: 50vh;
  border-radius: 10px;
}
.flex_info p {
  width: 50%;
  text-align: center;
  font-family: lato;
  font-size: 1.2rem;
  font-weight: 700;
}