*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import '../sass/utils/variables.scss';



.background_principal{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../asset/background_inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100%;
}
@import '../sass/pages/inicio.scss';
@import '../sass/pages/simulador.scss';

//mixins//
@import '../sass/utils/mixins.scss';



